@keyframes recording {
    0% {
        background-color: hsl(0, 0%, 10%);
    }

    50% {
        background-color: hsl(0, 45%, 90%);
    }

    100% {
        background-color: hsl(0, 0%, 10%);
    }
}

#toolbar {
    grid: auto / 1fr;
}

#takes {
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
    grid-area: 2 / 1 / 3 / 3;
}

#settingsPage {
    display: none;
}